@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Roboto+Slab&display=swap');

header {
    background-color: #11161b;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #4ab8f7;
    color: #11161b;
}
.logo {
    width: 100px;
}
.logo:hover {
    opacity: .9;
    transform: scale(1.2);
    border: 5px solid #4ab8f7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #11161b;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body {
    background-color: #ffffff;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: 22px;
    margin: 0;
    padding: 0; 
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.grid-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.home-title {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    font-family: "Josefin Sans", Verdana, sans-serif;
}
.paragraph-one {
    grid-column: 1/3;
    grid-row: 2/3;
}
.fixing-motherboard {
   
    width: 50%;
    
    border: 10px solid #4ab8f7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #11161b;
}
.paragraph-two {
    grid-column: 1/3;
    grid-row: 4/5;
    text-align: center;
    font-family: "Josefin Sans", Verdana, sans-serif;
}
.ourservices-btn, .get-servicesbtn {
    background-color: #27488f;
    color: #e1e2eb;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;  
}
.ourservices-btn:hover, .get-servicesbtn:hover {
    background-color: #4ab8f7;
    color: #11161b;
}
footer {
    background-color: #031926;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #4ab8f7;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

.container {
    position: relative;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.container-two {
    position: relative;
    width: 50%;
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
}
.container-three {
    position: relative;
    width: 80%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.container-four {
    position: relative;
    width: 65%;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: right;
    margin-right: 50px;
}
.container img {
    width: 100%;
    display: block;
}
.container-two img {
    width: 100%;
    display: block;
}
.container-three img {
    align-self: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.container-four img {
    align-self: center;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.overlay, .overlay-two, .overlay-three, .overlay-four {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #031926;
}
.container:hover .overlay, .container-two:hover .overlay-two, .container-three:hover .overlay-three, .container-four:hover .overlay-four {
    opacity: .80;
}  
.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-two {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text a {
    text-decoration: none;
    color: white;
}
.text-two a {
    text-decoration: none;
    color: white;
}
.text a:hover{
    color: #4ab8f7;
}
.text-two a:hover{
    color: #4ab8f7;
}


form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-top: 150px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;
}
.moveDown {
    margin-top: 3em;
}

.services-title {
    text-align: center;
    margin-top: 50px;
}
.preventive-text h2 {
    text-align: center;
}
.computer-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid #4ab8f7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #11161b;
}
.computer-two:hover {
    opacity: .8;
    transform: scale(1.1);
}
.corrective-text h2 {
    text-align: center;
}
.server-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid #4ab8f7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #11161b;
}
.server-two:hover {
    opacity: .8;
    transform: scale(1.1);
}
.network-text h2 {
    text-align: center;
}
.btn-services {
    margin-top: 50px;
    text-align: center;
}

.grid-aboutteam {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.team-title {
    font-family: "Josefin Sans", Verdana, sans-serif;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    margin-left: 150px;
}
.about-text {
    grid-column: 2/3;
    grid-row: 2/3;
}
.contactus-btn {
    background-color: #27488f;
    color: #e1e2eb;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
}
.btn-contact {
    text-align: center;
    margin-top: 50px;
    grid-column: 1/3;
    grid-row: 3/4;
}
.contactus-btn:hover {
    background-color: #4ab8f7;
    color: #11161b;
}


@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .grid-home {
        display: block;
        height: auto;
    }
    footer {
        margin-top: 25px;
    }
    .server-one {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    .home-title {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        font-size: 20px;
    }
    .paragraph-one {
        margin-left: 50px;
        margin-right: 50px;
    }
    .paragraph-two {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
    .container-two {
        position: relative;
        width: 100%;
        grid-column: 1/3;
        grid-row: 3/4;
        justify-self: center;
    }
    .computer-two {
        width: 80%;
    }
    .preventive-text {
        margin-left: 50px;
        margin-right: 50px;
    }
    .corrective-text {
        margin-left: 50px;
        margin-right: 50px;
    }
    .network-text {
        margin-left: 50px;
        margin-right: 50px;
    }
    .grid-aboutteam {
        display: block;
        height: auto;
    }
    .team-title {
        text-align: center;
        margin: 0 auto;
    }
    .container-three {
        margin: 0 auto;
        width: 100%;
    }
    .container-four {
        margin: 0 auto;
    }
    .container-four img {
        width: 100%;
    }
    .about-text {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
    }
    form {
        width: 100%;
    }
    form label {
        text-align: left;
    }
    .server-two {
        width: 80%;
    }
}